/* COMMON */
body {
    font-family: 'Inter', sans-serif;
}
.bg-lightgray {
    background-color: #f3f5f9;
}
.gray-text {
    color: #6f7b97;
    font-weight: 600;
}
ul {
    list-style-type: none;
}
a {
    color: #2e85ff;
    font-weight: bolder;
}
h2 {
    font-size: 36px;
    font-weight: 600;
}
h3 {
    font-weight: 600;
}
.small-wrapper {
    padding-top: 50px;
    width: 90%;
    margin: auto;
}
.xs-wrapper {
    padding-top: 50px;
    width: 70%;
    margin: auto;
}
.deploy,
.designed,
.features,
.regions,
.feedback,
.g_started {
    padding: 50px 0 40px 0;
}
/* Blue dots */
.blue-dots {
    padding: 0;
    margin: 0;
}
.blue-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #2e85ff;
    background-color: #2e85ff;
    display: inline-block;
}
.blue-dots li a {
    margin-right: 10px;
}
.blue-dots .empty-dot {
    background-color: white;
}
.regions,
.g_started {
    background: rgb(0,30,153);
    background: linear-gradient(0deg, rgba(0,30,153,1) 0%, rgba(0,72,198,1) 100%);
    color: white;
}


/* HEADER */
/* Nav */
.wrapper {
    padding: 13px 0;
}
.wrapper img {
    min-width: 150px;
}
/* Lists */
.wrapper ul {
    margin: 0;
    padding: 0;
}
.wrapper li {
    padding: 0;
}
.wrapper a {
    margin-left: 6px;
    font-size: 12px;
    font-weight: bolder;
    color: black;
}
.menu a:hover {
    text-decoration: underline;
}
.menu.text-center {
    line-height: 27px;
}
/* Button */
.menu button {
    color: #2e85ff;
    border-color: #2e85ff;
    font-size: 12px;
    margin-left: 3px;
}
/* Burger */
.burger .fas{
    font-size: 30px;
    padding: 0 10px;
    color: #2e85ff;
}

/* Jumbotron */
.jumbotron {
    background-image: url("../img/ms-jumbo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}
/* Title left */
.title_jumbo {
    color: white;
}
.title_jumbo h1 {
    font-weight: 700;
}
.title_jumbo p {
    color: #b9ccff;
    font-weight: 500;
}

/* Form right */
.white-container {
    padding: 20px 10px;
    background-color: white;
    border-radius: 5px;
}
.white-container h2 {
    line-height: 1.3;
}
.white-container span {
    color: #2e85ff;
}
.white-container .form-container {
    padding: 10px 20px;
}
.form-container .form-row,
.form-container button {
    margin-bottom: 10px;
}
.form-container button {
    width: 100%;
    font-weight: bolder;
}
#blue-button {
    background-color: #2e85ff;
    color: white;
}
#google-button {
    position: relative;
}
button img {
    position: absolute;
    width: 20px;
}
.white-container .form-container p {
    font-size: 12px;
    font-weight: bolder;
}

/* Customers imgs */
header .bg-lightgray {
    padding: 25px 0;
}
.custom-imgs ul {
    padding: 0;
}
.custom-imgs li {
    display: inline-block;
    width: calc(100% / 6 - 20px);
    margin-right: 15px;
}
.custom-imgs li img {
    width: 100%;
}
/* Media query rules for mobile*/
@media all and (max-width: 767px) {
    .custom-imgs li {
        width: calc(100% / 2 - 20px);
    }
    .custom-imgs li img {
        max-width: 190px;
        min-width: 70px;
    }
    .deploy .list-process {
        margin-bottom: 40px;
    }
}


/* MAIN */
/* Deploy section */
main p, 
main .list-process,
.feedback .white-container > p {
    font-size: 21px;
}
.deploy .list-process {
    line-height: 2.4;
    border-left: 2px solid #ccc;
    padding-left: 20px;
}
/* Boxes */
.process-box {
    padding-bottom: 15px;
}
.process-text {
    text-align: left;
}
.process-text p {
    font-size: 15px;
}

/* Designed (slide) section */
.designed .gray-text {
    padding: 20px 0;
}
.xs-wrapper {
    position: relative;
}
.slide {
    padding: 0 50px;
}
.xs-wrapper a .fas {
    font-size: 40px;
}
.xs-wrapper a .fa-chevron-left {
    position: absolute;
    top: 50%;
    left: 0;
    color: #6f7b97;
}
.xs-wrapper a .fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 0;
    color: #011d4c;
}
.xs-wrapper p {
    font-size: 12px;
    font-weight: bolder;
    padding: 15px 0;
    margin: 0;
}
/* Media query rules for mobile*/
@media all and (max-width: 767px) {
    .xs-wrapper {
        padding: 0;
    }
    .xs-wrapper a {
        display: none;
    }
    .slide {
        padding: 0;
        max-width: 300px;
        margin: auto;
    }
}

/* Features section */
.features h2 {
    margin-bottom: 50px;
}
.features .process-box {
    padding-bottom: 30px;
}
@media all and (max-width: 767px) {
    .features .process-box {
        width: 90%;
        margin: auto;
    }
}

/* 12 regions section */
.regions h2 {
    margin-bottom: 25px;
}
/* Addresses list */
.regions ul {
    padding: 0;
}
.regions ul li {
    padding: 10px;
    border-bottom: 1px solid white;
}
.regions ul li a {
    color: #00d5d1;
    text-align: right;
    display: block;
}
.regions ul li:last-child {
    border-bottom: none;
}
.regions .city {
    text-align: left;
    display: block;
    color: #b9ccff;
}

/* Feedback (slide) section */
.feedback .white-container {
    padding: 60px 10px;
    margin-bottom: 30px;
}
.feedback .white-container img {
    margin: auto;
}
.feedback .white-container a {
    display: inline-block;
    padding-top: 30px;
}
.feedback .nameCTO p {
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}
.feedback #name {
    font-weight: bolder;
}
@media all and (max-width: 767px) {
    .feedback h2 {
        margin-bottom: 40px;
    }
}

/* Get started section */
.g_started button {
    padding: 10px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bolder;
    color: #2e85ff;
}

/* FOOTER */
.foot_info {
    background-color: #031c4e;
}
.cols_info {
    padding: 80px 0;
}
.cols_info .copyright {
    margin-top: 20px;
    line-height: 0.8;
}
.cols_info ul {
    padding: 0;
    line-height: 2;
}
.cols_info .list_info li:first-child {
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.social a {
    font-size: 20px;
    color: #6f7b97;
}

/* BANNER msg fixed */
.banner_msg {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
}
/* Box help area */
.banner_msg textarea {
    border-radius: 10px;
    padding: 10px;
    min-width: 80%;
    min-height: 80%;
    max-width: 300px;
    max-height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Shark notification */
.notification img {
    padding: 5px 0;
}
.notification {
    background-color: #2e85ff;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    width: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.notification:hover {
    opacity: 0.4;
}
.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 3px 5px;
    border-radius: 50%;
    border: 3px solid;
    background: red;
    color: white;
}